
.modal {
    background-color: rgba(0,0,0,.5);
    visibility: hidden;
}

.modalToggle {
    visibility: visible;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}

/* button {
    position: absolute;
    
    

} */

/* .buttonClass {
    line-height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
} */

.imageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

a {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 30vh;
}

/* .image {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width : 100%;
    height : 30vh;
} */




@media only screen and (max-width: 375px) {
    .imageContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
  }


